*.amxx
node_modules/
.compiler/
.thirdparty/
.vscode/
dist/
src/scripting/prefog.sma
src/scripting/prestrafer.sma
src/scripting/kz_jump_stats_loc_decompiled.sma
src/scripting/amxxpc.exe
src/scripting/amxxpc32.dll
src/scripting/compile.exe
src/scripting/compile.dat