*.amxx
*.exe
*.dat
.vscode/
.claude/
src/scripting/prefog.sma
src/scripting/prestrafer.sma
src/scripting/kz_jump_stats_loc_decompiled.sma
src/scripting/amxxpc32.dll
src/scripting/kz_map_downloader.sma
